<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS</title>
</head>

<body>
    <h1>File upload</h1>
    <form action="/upload" method="POST" encryption="multipart/form-data">
        <label>Filename:</label>
        <input type="text" name="fileName">
        <br><br>
        <label>Upload File</label>
        <input type="file" name="file" id="">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html> -->









<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h3>Upload files</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Full Path</label>
        <input type="text" name="path"><br><br>
        <input type="file" name="file" id="">
        <input type="file" class="filepond">
        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

        <button>upload </button>
        <script>
            FilePond.parse(document.body);
        </script>
    </form>
</body>

</html>