<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Demo</title>
</head>

<body>
    <h1>File Uploaded:</h1>
    <p> FileName: <%= fileName %>
    </p>
    <p> Link: <a target="_blank" href="https://gateway.pinata.cloud/ipfs/<%= fileHash %>">
            <%= fileHash %>
        </a></p>


</body>

</html>